@if (isLoading()) {
  <div class="loading-container">
    <p>Carregando sprites do Pokémon...</p>
  </div>
} @else if (error()) {
  <div class="error-container">
    <p>Erro ao carregar os sprites deste Pokémon.</p>
  </div>
} @else {
  <div class="sprites-page-container">
    @if (spriteList().length > 0) {
      @for (sprite of spriteList(); track sprite.label) {
        <app-sprite-card [imageUrl]="sprite.url" [label]="sprite.label" />
      }
    } @else {
      <p class="no-sprites">Nenhum sprite disponível para este Pokémon.</p>
    }
  </div>
}
