@if (evolutionsData.pokemonDetailsLoading()) {
  <p>Loading...</p>

}@else if (evolutionsData.pokemonDetailsError()) {
  <p>error</p>
  
}@else if (evolutionsData.pokemonDetails()?.chain?.evolves_to!.length === 0) {
  <p> This pokemon has no evolutions</p>

}@else {
  <div class="evolution-container">
    <div class="base-form-container">
      <label>Base Form</label>
      <app-pokemon-list-item
        [pokemon]="evolutionsData.pokemonDetails()?.chain?.species!"
        [route]="'../../' + evolutionsData.pokemonDetails()?.chain?.species?.name!"
      >
      </app-pokemon-list-item>
    </div>
    <div class="evolutions-container">
      <label>Evolutions</label>
      @for (second of evolutionsData.pokemonDetails()?.chain?.evolves_to; track $index) {
        <app-pokemon-list-item [pokemon]="second.species" [route]="'../../' + second.species.name">
        </app-pokemon-list-item>
        <div class="evolution-trigger-container">
          @if (second.evolution_details[0].trigger.name) {
            <p> {{ second.evolution_details[0].trigger.name | cleanText }}</p>
          }
          @if (second.evolution_details[0].base_form_id) {
            <p> {{ second.evolution_details[0].base_form_id }}</p>
          }
          @if (second.evolution_details[0].gender) {
            <p>{{ second.evolution_details[0].gender }}</p>
          }
          @if (second.evolution_details[0].held_item?.name) {
            <p>
             
              {{
                $safeNavigationMigration(second.evolution_details[0].held_item?.name)
                  | cleanText
              }}
            </p>
          }
          @if (second.evolution_details[0].item?.name) {
            <p>
           
              {{
                $safeNavigationMigration(second.evolution_details[0].item?.name) | cleanText
              }}
            </p>
          }
          @if (second.evolution_details[0].known_move?.name) {
            <p>
              Known Move: 
              {{
                $safeNavigationMigration(second.evolution_details[0].known_move?.name)
                  | cleanText
              }}
            </p>
          }
          @if (second.evolution_details[0].known_move_type?.name) {
            <p>
              Known Move Type:
              {{
                $safeNavigationMigration(second.evolution_details[0].known_move_type?.name)
                  | cleanText
              }}
            </p>
          }
          @if (second.evolution_details[0].location?.name) {
            <p>
              Location:
              {{
                $safeNavigationMigration(second.evolution_details[0].location?.name)
                  | cleanText
              }}
            </p>
          }
          @if (second.evolution_details[0].min_affection) {
            <p> {{ second.evolution_details[0].min_affection }}</p>
          }
          @if (second.evolution_details[0].min_beauty) {
            <p> Minimum Beauty:  {{ second.evolution_details[0].min_beauty }}</p>
          }
          @if (second.evolution_details[0].min_happiness) {
            <p> Minimum Happiness: {{ second.evolution_details[0].min_happiness }}</p>
          }
          @if (second.evolution_details[0].min_level) {
            <p> {{ second.evolution_details[0].min_level }}</p>
          }
          @if (second.evolution_details[0].needs_overworld_rain) {
            <p> {{ second.evolution_details[0].needs_overworld_rain }}</p>
          }
          @if (second.evolution_details[0].party_species?.name) {
            <p>
             
              {{
                $safeNavigationMigration(second.evolution_details[0].party_species?.name)
                  | cleanText
              }}
            </p>
          }
          @if (second.evolution_details[0].party_type?.name) {
            <p>
              
              {{
                $safeNavigationMigration(second.evolution_details[0].party_type?.name)
                  | cleanText
              }}
            </p>
          }
          @if (second.evolution_details[0].region_id) {
            <p> {{ second.evolution_details[0].region_id }}</p>
          }
          @if (second.evolution_details[0].relative_physical_stats) {
            <p>
              {{ second.evolution_details[0].relative_physical_stats }}
            </p>
          }
          @if (second.evolution_details[0].time_of_day) {
            <p>{{ second.evolution_details[0].time_of_day | cleanText }}</p>
          }
          @if (second.evolution_details[0].trade_species?.name) {
            <p>
              
              {{
                $safeNavigationMigration(second.evolution_details[0].trade_species?.name)
                  | cleanText
              }}
            </p>
          }

        </div>
        
          @for (third of second.evolves_to; track $index) {
            <app-pokemon-list-item
              [pokemon]="third.species"
              [route]="'../../' + third.species.name"
            >
            </app-pokemon-list-item>
            <div class="evolution-trigger-container">
            @if (third.evolution_details[0].trigger.name) {
              <p> {{ third.evolution_details[0].trigger.name | cleanText }}</p>
            }
            @if (third.evolution_details[0].base_form_id) {
              <p> {{ third.evolution_details[0].base_form_id }}</p>
            }
            @if (third.evolution_details[0].gender) {
              <p> {{ third.evolution_details[0].gender }}</p>
            }
            @if (third.evolution_details[0].held_item?.name) {
              <p>
     
                {{
                  $safeNavigationMigration(third.evolution_details[0].held_item?.name)
                    | cleanText
                }}
              </p>
            }
            @if (third.evolution_details[0].item?.name) {
              <p>
             
                {{
                  $safeNavigationMigration(third.evolution_details[0].item?.name) | cleanText
                }}
              </p>
            }
            @if (third.evolution_details[0].known_move?.name) {
              <p>
                Known Move:
                {{
                  $safeNavigationMigration(third.evolution_details[0].known_move?.name)
                    | cleanText
                }}
              </p>
            }
            @if (third.evolution_details[0].known_move_type?.name) {
              <p>
        
                {{
                  $safeNavigationMigration(third.evolution_details[0].known_move_type?.name)
                    | cleanText
                }}
              </p>
            }
            @if (third.evolution_details[0].location?.name) {
              <p>
                
                {{
                  $safeNavigationMigration(third.evolution_details[0].location?.name)
                    | cleanText
                }}
              </p>
            }
            @if (third.evolution_details[0].min_affection) {
              <p> Minimum Affection: {{ third.evolution_details[0].min_affection }}</p>
            }
            @if (third.evolution_details[0].min_beauty) {
              <p> Minimum Beauty: {{ third.evolution_details[0].min_beauty }}</p>
            }
            @if (third.evolution_details[0].min_happiness) {
              <p> Minimum Happiness:  {{ third.evolution_details[0].min_happiness }}</p>
            }
            @if (third.evolution_details[0].min_level) {
              <p> {{ third.evolution_details[0].min_level }}</p>
            }
            @if (third.evolution_details[0].needs_overworld_rain) {
              <p> {{ third.evolution_details[0].needs_overworld_rain }}</p>
            }
            @if (third.evolution_details[0].party_species?.name) {
              <p>
              
                {{
                  $safeNavigationMigration(third.evolution_details[0].party_species?.name)
                    | cleanText
                }}
              </p>
            }
            @if (third.evolution_details[0].party_type?.name) {
              <p>
               
                {{
                  $safeNavigationMigration(third.evolution_details[0].party_type?.name)
                    | cleanText
                }}
              </p>
            }
            @if (third.evolution_details[0].region_id) {
              <p>{{ third.evolution_details[0].region_id }}</p>
            }
            @if (third.evolution_details[0].relative_physical_stats) {
              <p>
               {{ third.evolution_details[0].relative_physical_stats }}
              </p>
            }
            @if (third.evolution_details[0].time_of_day) {
              <p> {{ third.evolution_details[0].time_of_day | cleanText }}</p>
            }
            @if (third.evolution_details[0].trade_species?.name) {
              <p>
             
                {{
                  $safeNavigationMigration(third.evolution_details[0].trade_species?.name)
                    | cleanText
                }}
              </p>
            }

            </div>
          }
        
      }
    </div>
  </div>
}
