@use '../../../../styles/utils' as ds;

.evolution-container{
    margin-top: ds.$space-md;
    display: flex;
    
}
.base-form-container{
    margin-top: ds.$space-md;    

}

.evolutions-container{
    margin-top: ds.$space-md;

}
.evolution-trigger-container{
    margin: ds.$space-md;
    background-color: ds.$accent-color;
    display: flex;
    justify-content: left; 
    align-items: center;
    border-radius: ds.$radius-md;
}

label{
    color: white;
    background-color: ds.$accent-color;
    display: flex;
    justify-content: center; 
    align-items: center;
  }

p{   
    margin: ds.$space-md;
    color: white;
    background-color: ds.$accent-color;
    text-align: center;
    flex: 1
    
}