@use '../../../../../../styles/utils' as ds;

.search-container{    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ds.$accent-color;
    padding-top: ds.$space-md;
    width: 100%;    
}

.selection-bar-container{
    margin: ds.$space-xs;
    color: white;
}
table{
    
    
    margin: ds.$space-xs;        
    background-color: black;
    width: 100%;
}

thead, th {
    margin: ds.$space-xs;
    padding: ds.$space-xs;
    background-color: ds.$accent-color;

}

tr{
    margin: ds.$space-xs;
    padding: ds.$space-xs;
    background-color: white;
}