@use '../../../../../styles/utils' as ds;

:host {
  display: block;
  width: 100%;
}

.sprites-page-container {
  width: 100%;
}

.loading-container,
.error-container,
.no-sprites {
  color: ds.$text-muted;
  text-align: center;
  padding: ds.$space-lg;
}
