.type-button{
    padding: 1%;
    margin: 1%;
    width: 99%;
    height: 5%;   
    color: white;


}

.type-button-dual{
    padding: 1%;
    margin: 1%;
    width: 48%;
    height: 5%;
    color: white;
   
}