<div class="container">
    <mat-button-toggle-group name="genValuesBar" aria-label="Font Style">
        <mat-button-toggle (click)="setGenValue(genOneIoButton().genValue)"> {{genOneIoButton().title}} </mat-button-toggle>
        <mat-button-toggle (click)="setGenValue(genTwoIoButton().genValue)"> {{genTwoIoButton().title}} </mat-button-toggle>
        <mat-button-toggle (click)="setGenValue(genThreeIoButton().genValue)"> {{genThreeIoButton().title}} </mat-button-toggle>
        <mat-button-toggle (click)="setGenValue(genFourIoButton().genValue)"> {{genFourIoButton().title}} </mat-button-toggle>
        <mat-button-toggle (click)="setGenValue(genFiveIoButton().genValue)"> {{genFiveIoButton().title}} </mat-button-toggle>
        <mat-button-toggle (click)="setGenValue(genSixIoButton().genValue)"> {{genSixIoButton().title}} </mat-button-toggle>
        <mat-button-toggle (click)="setGenValue(genSevenIoButton().genValue)"> {{genSevenIoButton().title}} </mat-button-toggle>
        <mat-button-toggle (click)="setGenValue(genEightIoButton().genValue)"> {{genEightIoButton().title}} </mat-button-toggle>
        <mat-button-toggle (click)="setGenValue(genNineIoButton().genValue)"> {{genNineIoButton().title}} </mat-button-toggle>
    </mat-button-toggle-group>    
</div>
