<div class="pokemon-evolutions-details-container">
  @for (
    first_evolution of evolutionChain()?.chain?.evolves_to;
    track first_evolution.species.name
  ) {
    @for (details of first_evolution.evolution_details; track details.trigger.name) {
      @if (isFirstEvolution()) {
        @if (
          (isRegionalVariant() && details.base_form?.name) ||
          (!isRegionalVariant() &&
            !details.base_form?.name &&
            first_evolution.species?.name?.includes(pokemonName())) ||
            (isBaseDefaultWithVariantEvolution() && details.region?.name)
        ) {
          <div class="first-evolution-details-container">
            <app-evolution-chain-details [details]="details" />
          </div>
        }
      }
    }
    @for (second_evolution of first_evolution.evolves_to; track second_evolution.species.name) {
      @for (details of second_evolution.evolution_details; track details.trigger.name) {
        @if (isSecondEvolution()) {
          @if (
            (isRegionalVariant() && details.base_form?.name) ||
            (!isRegionalVariant() &&
              !details.base_form?.name &&
              second_evolution.species?.name?.includes(pokemonName())) ||
              (isBaseDefaultWithVariantEvolution() && details.region?.name)
          ) {
            <div class="second-evolution-details-container">
              <app-evolution-chain-details [details]="details" />
            </div>
          }
        }
      }
    }
  }
</div>
