.move-details-container{
    display: flex;
    gap: 50px;
}
.number-span{
    color: black;
    display: inline-block; 
    width: 25px;   
    font-weight: bold;
    text-align: left;
}

.name-span{
    color: black;
    display: inline-block; 
    width: 75px;   
    font-weight: bold;
    text-align: left;
}
