
<app-grid [columns]="6">
    <div class="move-details-container">
        <span class="number-span">{{this.learnedAtLevel()}}</span>
        <span class="name-span">{{this.movesDataClient.moveName()}}</span>       
        <span class="name-span">{{this.movesDataClient.moveType()?.name}}</span>
        <span class="number-span">{{this.movesDataClient.movePower()}}</span>
        <span class="number-span">{{this.movesDataClient.moveAccuracy()}}</span>
        <span class="number-span">{{this.movesDataClient.movePP()}}</span>   
    </div> 
</app-grid>        

