<div class="card-container" 
  [style.background-color]="pokemon()!.types[0].type.name | capitalizeWords | colorType">
  <div class="name-container">
    <span  class="pokemon-id">
      #{{pokemon()!.id.toString().padStart(4, '0')}}
    </span>
    <span [style.color]="pokemon()!.types.length > 1 ? pokemon()!.types[1].type.name :  'white'  | capitalizeWords | colorType" class="pokemon-name">
      {{pokemon()!.name | capitalizeWords}}
    </span>
  </div>
  <div  class="image-container">
     <img class="pokemon-image" src="{{pokemon()!.sprites.other['official-artwork'].front_default}}">
  </div>
  <div class="type-container">
       <div class="type-title-container">
          <span class="type-title"> TYPE </span> 
       </div>
       <div class="type-name-container">
          <app-types [types]="pokemon()!.types"></app-types>
       </div>
       
  </div>
</div>