.pokemon-card{
  //  background-color: rgb(121, 3, 26);
    width: 25%;

}

.pokemon-card-header {
 //  background-color: crimson;
  padding: 5%;
}

.title-group {
  display: flex;    
  background-color: white;
  border-radius: 2.5%;
}
.title-line {
  background-color: white;  
  border-radius: 2.5%;
}

.pokemon-card-content {
//  background-color: rgb(226, 12, 12); 
  border-radius: 0.75;

}

.pokemon-image {
  background-color: white;
  display: flex;
  width: 100%;
  justify-content: center;
}
