
<div class="side-bar-card">
  <span class="side-bar-title">Contents</span>
  <hr class="side-bar-divider" />
  <ul class="side-bar-item-list">
    <li><a routerLink="stats" routerLinkActive="active">Stats</a></li>
    <li><a routerLink="moves" routerLinkActive="active">Move Set</a></li>
    <li><a routerLink="evolution" routerLinkActive="active">Evolution</a></li>
    <li><a routerLink="sprites" routerLinkActive="active">Sprites</a></li>
    <li><a routerLink="locations" routerLinkActive="active">Game Locations</a></li>
  </ul>
</div>