@use '../../../../styles/utils' as ds;


.side-bar-item-list{
    background-color: ds.$accent-color;
    border-radius: ds.$radius-md;
    color: white;
}

label{
    color: white;   
    display: flex;
    padding-top: ds.$space-md;
    justify-content: center; 
    align-items: center;
    
}
li{
   color: white;
   padding: ds.$space-xs;
}


a{  
    padding: ds.$space-xs;
    color: white;
}