@use '../../../../styles/utils' as ds;

.side-bar-container{
    width: 100%;
    border-radius: ds.$radius-lg;
    background-color: ds.$accent-color;
    color: white;
}

.side-bar-item-list{
    margin: ds.$space-md;
    color: white;
}

li{

   margin: ds.$space-s; 
   color: white;
}

a{
    color: white;
}