@use '../../../../../styles/utils' as ds;

.evolution-container{
    margin-top: ds.$space-md;
    background-color: ds.$accent-color;
}
.trigger-container{
    
    background-color: ds.$accent-color;

   
}

.details-container{
    
    background-color: ds.$accent-color;


}

span{
    color: white;
    background-color: ds.$accent-color;
    margin: ds.$space-xs;
    padding: ds.$space-xs;    
    align-items: center;
    justify-content: center;
    display: block;

  }

 

