<div class="evolution-container">

  
  <div class="details-container">
      @if (details().trigger?.name === 'trade') {
        <span> {{details().trigger?.name | cleanText}}</span>
      }

      @if (details().gender !== null && details().gender !== undefined) {

        <span> {{ details().gender === 1 ? 'Female' : 'Male' }} </span>  

      } 

      @if (details().held_item?.name) {
          <span> holding {{details().held_item?.name }} </span>


    
      }

      @if (details().item?.name) {
        <span> {{ $safeNavigationMigration(details().item?.name) | cleanText }}</span>
      }

      @if (details().known_move?.name) {
        <span>  Level up while knowing </span>
        <span> {{ $safeNavigationMigration(details().known_move?.name) | cleanText }}</span>
      }

      @if (details().known_move_type?.name) {
        <span> Level up with knowing move type {{ $safeNavigationMigration(details().known_move_type?.name) }}</span>
        <span></span>
      }

      @if (details().location?.name) {
        <span> At {{ $safeNavigationMigration(details().location?.name) | cleanText }}</span>
      }

      @if (details().min_level) {
        <span> Level {{ details().min_level }}</span>
      }

      @if (details().min_affection) {
        <span> with min affection: {{ details().min_affection }}</span>
      }

      @if (details().min_beauty) {
        <span>Minimum Beauty: {{ details().min_beauty }}</span>
      }
      @if (details().min_damage_taken) {
        <span> Min damage taken: {{ details().min_damage_taken }} </span>

      }
      @if (details().min_happiness) {
        <span>with min happiness: {{ details().min_happiness }}</span>
      }

      @if (details().needs_overworld_rain) {
        <span>Needs Rain or Fog</span>
      }

      @if (details().party_species?.name) {
        <span>Party Pokémon: {{ $safeNavigationMigration(details().party_species?.name) | cleanText }}</span>
      }

      @if (details().party_type?.name) {
        <span>Party Type: {{ $safeNavigationMigration(details().party_type?.name) | cleanText }}</span>
      }

      @if (details().relative_physical_stats !== null && details().relative_physical_stats !== undefined) {
        <span>
          @if (details().relative_physical_stats === 1) { Attack > Defense }
          @else if (details().relative_physical_stats === -1) { Defense > Attack }
          @else { Attack = Defense }
        </span>
      }
      @if(details().region?.name) {

 
          <span> in {{ $safeNavigationMigration(details().region?.name) | cleanText }} </span>
    
      }

      @if (details().time_of_day) {
        <span>Time of Day: {{ details().time_of_day | cleanText }}</span>
      }

  
      @if (details().turn_upside_down) {
        <span>Turn Device Upside Down</span>
      }
      @if (details().used_move) {
        <span> Level up after  </span>
        <span> using {{ details().used_move?.name }} </span >
        @if (details().min_move_count) {
           <span>  {{details()?.min_move_count }} times </span>
        }
       
      }

  </div>
</div>
