<app-card [isTransparent]="false">
    <app-flex>
        <app-index-number
            select="card-header"
            [isTransparent]="false"
            [pokemonIndexNumber]="pokemon().url | extractId"
        />
        <app-name select="card-header"
            [isTransparent]="false" 
            [pokemonName]="pokemon().name.split('-')[0]" 
            [route]="route()"
        />
    </app-flex>
    <app-sprite select="card-body" 
        [title]="pokemon().name" 
        [id]="pokemon().url | extractId" 
        [background]="'white'" [width]='"100%"'>
    </app-sprite>
</app-card>




