<app-card [isTransparent]="false">
    <div style="display: flex; gap: 10px;">
        <app-index-number
            select="card-header"
            [isTransparent]="false"
            [pokemonIndexNumber]="pokemon()?.url | extractId"
        />
        <app-name select="card-header"
            [isTransparent]="false" 
            [pokemonName]="pokemon()?.name" 
            [route]="route()"
        />
    </div>
    <app-sprite select="card-body" 
        [title]="pokemon()?.name" 
        [id]="pokemon()?.url | extractId" 
        [background]="'white'" [width]='"100%"'>
    </app-sprite>
</app-card>




