@use "../../../../styles/utils" as ds;

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-by-gen-bar-container{
    align-items: center;
    justify-content: center;
    background-color: ds.$primary-color;
    margin: ds.$space-lg ;
    
}

.pokemon-list-container{
    background-color: ds.$primary-color;
    margin: ds.$space-lg;

}


.pokemon-name   {
    display: flex;
    align-items: center;
    justify-content: center;
}