<section class="contest-page">

  <header class="contest-page-header">
    <h2>Contest</h2>

    <p>
      Contest information and move combinations.
    </p>
  </header>


  @if (movesDataClient.moveDetailsLoading()) {

    <div class="contest-state">
      <span>Loading...</span>
    </div>

  } @else if (movesDataClient.moveDetailsError()) {

    <div class="contest-state contest-state-error">
      <span>
        Unable to load move information.
      </span>
    </div>

  } @else if (!contestHasData() && !superContestHasData()) {

    <div class="contest-state contest-state-empty">
      <h3>No Contest Information</h3>

      <p>
        This move does not have Contest or Super Contest information.
      </p>
    </div>

  } @else {

    <div class="contest-cards">

      <!-- =========================
           CONTEST
           ========================= -->

      @if (contestHasData()) {

        @if (contestLoading()) {

          <div class="contest-state">
            <span>Loading Contest information...</span>
          </div>

        } @else if (contestError()) {

          <div class="contest-state contest-state-error">
            <span>
              Unable to load Contest information.
            </span>
          </div>

        } @else {

          <app-contest-card
            [contestCombos]="contestCombos()"
            [contestTypeName]="contestTypeDataClient.contestTypeName()!"
            [contestTypeBerryFlavor]="contestTypeDataClient.contestTypeBerryFlavor()!"
            [contestEffect]="contestEffectDataClient.contestEffectName()!"
            [contestEffectAppeal]="contestEffectDataClient.contestEffectAppeal()!"
            [contestEffectJam]="contestEffectDataClient.contestEffectJam()!"
            [contestEffectFlavorText]="contestEffectDataClient.contestEffectFlavorText()!"
          />

        }

      }


      <!-- =========================
           SUPER CONTEST
           ========================= -->

      @if (superContestHasData()) {

        @if (superContestLoading()) {

          <div class="contest-state">
            <span>Loading Super Contest information...</span>
          </div>

        } @else if (superContestErrorState()) {

          <div class="contest-state contest-state-error">
            <span>
              Unable to load Super Contest information.
            </span>
          </div>

        } @else {

          <app-super-contest-card
            [contestCombos]="contestCombos()"
            [contestTypeName]="contestTypeDataClient.contestTypeName()!"
            [contestTypeBerryFlavor]="contestTypeDataClient.contestTypeBerryFlavor()!"
            [superContestEffectFlavorText]="superContestDataClient.superContestEffectFlavorText()!"
            [superContestAppeal]="superContestDataClient.superContestEffectAppeal()!"
          />

        }

      }

    </div>

  }

</section>