<article class="contest-card">

  <header class="contest-card-header">
    <h2>Contest</h2>
  </header>

  <section>
    <app-contest-type
      [contestTypeName]="contestTypeName()"
      [contestTypeBerryFlavor]="contestTypeBerryFlavor()"
    >
    </app-contest-type>
  </section>
 
  

  <section class="contest-stats">
    <div class="stat">
      <span class="label">Appeal:</span>
      <span>
        {{ contestEffectAppeal() }}
      </span>
    </div>

    <div class="stat">
      <span class="label">Jam:</span>
      <span>
        {{ contestEffectJam() }}
      </span>
    </div>
  </section>

  <section class="contest-flavor">  
    <p>
      {{ contestEffectFlavorText() }}
    </p>
    <p>
      {{ contestEffect() }}
    </p>
  </section>

  <section class="contest-combos">

    <header class="contest-combos-header">
      <h3>Contest Combos</h3>
    </header>

    <div class="contest-combos-content">

      <div class="combo-column">
        <span class="combo-label">
          Use Before
        </span>

        <div class="combo-values">
          @for (
            move of contestCombos().normal.use_before;
            track move
          ) {
            <span class="combo-value">
              {{ move.name| cleanText }}
            </span>
          }
        </div>
      </div>

      <div class="combo-column">
        <span class="combo-label">
          Use After
        </span>

        <div class="combo-values">
          @for (
            move of contestCombos().normal.use_after;
            track move
          ) {
            <span class="combo-value">
              {{ move.name| cleanText }}
            </span>
          }
        </div>
      </div>

    </div>

  </section>

</article>