<div class="move-set-container">
    <app-grid [columns]="5">
        <div class="container">
            <label>Learn Method: </label>
            <mat-button-toggle-group aria-label="Font Style">
                <mat-button-toggle (click)="setLearnMethodValue('level-up')" > Level up </mat-button-toggle>
                <mat-button-toggle (click)="setLearnMethodValue('machine')" > TM </mat-button-toggle>
                <mat-button-toggle (click)="setLearnMethodValue('tutor')" > Tutor </mat-button-toggle>
                <mat-button-toggle (click)="setLearnMethodValue('egg')"> Egg </mat-button-toggle>
            </mat-button-toggle-group>
        </div>     
    </app-grid>

<div class="container">
    <label for="version-select"> Game version: </label>
    <select name="version-select" id="version-select" [(ngModel)]="version">
        @for(version of versions(); track $index ){
            <option [value]="version"> {{version }} </option>
        }

    </select>     

    <table>
        <thead>
            <tr>
                <th>Level</th>
                <th>Move</th>       
                <th>Type</th>
                <th>Cat </th>
                <th>Pwr</th>
                <th>Acc</th>
                <th>PP</th>   
            </tr>
        </thead>
        <tbody>
            @for (move of this.computedMoveList(); track $index) {
                <tr app-level-up-moves [moveName]="move.move.name" [learnedAtLevel]="move.version_group_details[0].level_learned_at"> </tr>
            }
        </tbody>
    </table>


    
</div>




