@use '../../../../styles/utils' as ds;

table{
    margin: ds.$space-lg;

    background-color: black;
}

thead, th {
    margin: ds.$space-md;
    padding: ds.$space-md;
    background-color: ds.$accent-color;
}

tr{
    margin: ds.$space-xs;
    border-radius: ds.$radius-md;
    padding: ds.$space-md;
    background-color: white;
}