@use '../../../../../styles/utils' as ds;

.pokemon-details-container{
    margin: ds.$space-lg;
    background-color: ds.$primary-color;
}

.side-bar-container{
    width: 20%;
    margin: ds.$space-md;
 
}

.router-container{
    width: 50%;
    margin-top: ds.$space-md;
}

.card-container{
    width: 30%;
    margin: ds.$space-md;
  
}