@use "../../../../styles/utils" as ds;

.ability-title{
    color: black;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
}

.ability-container{    
    margin: ds.$space-xs;
    border-radius: ds.$radius-xs;
    background-color: ds.$accent-color;

}


.ability-button{
    margin: ds.$space-xs;
    border-radius: ds.$radius-xs;
    width: 50%;
}

