.single-ability-button{
    padding: 1%;
    margin: 1%;
    height: 5%;   
    width: 99%;
}

.double-ability-button{
    padding: 1%;
    margin: 1%;
    height: 5%;   
    width: 48%;
    
}

.triple-ability-button{
    padding: 1%;
    margin: 1%;
    height: 5%;   
    width: 31%;    
    
}