@use "../../../../styles/utils" as ds;

.ability-title{
    color: white;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
}

.ability-container{    
    margin: ds.$space-xs;
    border-radius: ds.$radius-xs;
    background-color: ds.$accent-color;

}


.single-ability-button{
    margin: ds.$space-xs;
    border-radius: ds.$radius-xs;
    width: 95%;
}

.double-ability-button{
    margin: ds.$space-xs;  
    border-radius: ds.$radius-xs;
    width: 47%;
    
}

.triple-ability-button{
    margin: ds.$space-xs;
    border-radius: ds.$radius-xs;
    width: 47%;    
    
}